
@model CrudOperation.Models.viewModel.addCategoryRequest;
<body class="bg-ligth">
<div class="bg-warning bg-opacity-10 py-2">
    <div class="container justify-content-center "> 
        <h3 class="text-center">
            Add Category
        </h3>
        
    </div>
</div>
<div  class="container py-5">
   <form method="post">
       <div class="mb-3">
           <label class="form-label mb-3">Name

                </label>
                <input type="text" class=" btn-lg btn-block w-100 rounded-pill  " id="name" asp-for="CategoryName" />

       </div>
       <div class="mb-3">
                <button type="submit" class="btn btn-success btn-lg btn-block w-100 rounded-pill">Submit</button>

       </div>

   </form> 

</div>
</body>