
@model CrudOperation.Models.viewModel.addProductRequest

<div class="bg-secondary bg-opacity-10 py-2">
<div class="container">
    <h3 class="text-center">
        Add Product
    </h3>

</div>
</div>
<div class="container">
    <form method="post">
        <div class="mb-3">
            <label class="form-label" >Product Name</label>
            <input type="text" class="form-control rounded-pill" asp-for="ProductName" />

        </div>
        <div class="mb-3">
            <label class="form-label">Category List</label>
            <select class="form-select rounded-pill" asp-items="@Model.Products"
                    asp-for="SelectedProduct">


            </select>

        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </form>

</div>
